.container {
  display: flex;
  position: relative;
  flex-direction: column;
  top: -150px;
}


.circulo {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #c3c4c5;
  margin: auto;
  z-index: 2;
}

.inside-circle {
  background-color: #dddddd;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: auto;
}

.rectangulo {
  width: 90%;
  max-width: 400px;
  height: 70px;
  background-color: #c3c4c5;
  margin: -25px auto;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom: 15px solid #a3a4a5;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.648);
}

@media(max-width: 850px) {
  .container {
    margin-top: 40px;
    top: -130px;
    height: 100px;
  }
  
  .circulo {
    width: 30px;
    height: 30px;
  }

  .inside-circle {
    width: 15px;
    height: 15px;
  }

  .rectangulo {
    height: 40px;
    width: 250px;
    margin-bottom: 0;
  }

}