.CreateTodoButton {
    position: fixed;
    z-index: 20;
    background-color: rgb(27, 97, 203);
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    width: 70px;
    height: 70px;
    font-size: 70px;
    right: 25px;
    bottom: 25px;
    box-sizing: border-box;
    border: none;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transform: rotate(0);
    transition: .3s ease;
}

.CreateTodoButton:hover {
    cursor: pointer;
    background-color: rgb(58, 130, 238);
    transform: rotate(224deg);
}

